.container-small-card{
    margin-bottom: 15px;

    @media(min-width: 1000px) {
        width: 700px;
    }
}

.container-content{
    display: flex;
    flex-direction: row;
    padding: 20px;
    box-sizing: border-box;
}

.small-card-foto > img{
    width: 100px;
    min-width: 100px;
    margin-right: 20px;
}

.container-separator{
    
    margin-bottom: 10px;
}

.small-card-title{
    display: flex;
    justify-content: center;
    align-items: center;
}