<div class="container-big-card">
    <div class="big-card-foto">
        <img src="https://th.bing.com/th/id/OIP.fdSRBJSCX31H6FrgVfvAZAHaKc?w=184&h=259&c=7&r=0&o=5&pid=1.7" alt="Luffy procurado" height="200px" width="300px">
    </div>
    <div class="big-card-title">
        <h1>Monkey D. Luffy</h1>
    </div>
    <div class="big-card-description">
        <p>imperador do mar, o joyboy! Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat non natus doloremque maxime dolores totam a, modi placeat, officiis ratione itaque sequi eum. Itaque accusamus tenetur commodi et facilis quae!</p>
    </div>
</div>
